<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=Templus.nome_aplicacao%> | <%=Templus.nome_empresa%> </title>
	<%= favicon_link_tag Templus.favicon %>
	<!-- Include style per-controller - vendor plugins -->
	<%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css.scss") %>
	<!-- Main css styles -->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Main javascript files -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= flash_messages_for %>
	<div class="middle-box text-center loginscreen  animated fadeInDown">
		<div>
			<div>
				<h1 class="logo-name">
					<%=image_tag(Templus.logo_landpage, class: 'img-responsive')%>
				</h1>
			</div>
			<%= yield %>
			<p class="m-t"> <small>RaroLabs &copy; 2010-<%= DateTime.now.year %></small> </p>
		</div>
	</div>
</div>
<!-- End wrapper-->

<!-- Include javascript per-controller - vendor plugins -->
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

<%= yield :javascript %>

</body>
</html>

